<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <title>Title</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap-5.3.2-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/common.css">

</head>

<body>

    <div class='container' style = "margin-top : 20px">
        <form method = 'post' action = '/create'>
            <div class="mb-3 row clearfix">
                <div class = 'col'>
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" name = "name_username" id="username">
        
                </div>
                <div class = 'col'>
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" name = "name_pwd" id="password">
                 
                </div>
            </div>
            <div class="mb-3 row clearfix">
                <div class = 'col'>
                    <label  for = "First" class="form-label">First Name</label>
                    <input type="text" class="form-control" name = "name_first" id="First">
                </div>
                <div class = 'col'>
                    <label  for = "Last" class="form-label">Last Name</label>
                    <input type="text" class="form-control" name = "name_last" id="Last">
                </div>
                
               
            </div>
            <div class="mb-3 row clearfix">
                <div class = 'col'>
                    <label for="age" class="form-label">Age</label>
                    <input type="number" class="form-control" name = "name_age" id="age">
                </div>
                <div class = 'col'>
                    <label for="mobile" class="form-label">Mobile number</label>
                    <input type="text" class="form-control" name = "name_mobile" id="mobile" min = "0">
                </div>
            </div>
           
            
            <button type="submit" class="btn btn-primary" style = 'margin-top:20px;'>Submit</button>
           

        </form>
       
    </div>

    <script src='/static/jquery-3.7.1.js'></script>
    <script src='/static/plugins/bootstrap-5.3.2-dist/js/bootstrap.bundle.js'></script>
</body>

</html>